<div class="newsletter-wrapper" id="newsletter-wrapper">
    <h2 class="subtitle">Subscribe to our newsletter</h2>
    <form v-on:submit.prevent="onSubmit">
        <div class="field has-addons">
            <div class="control">
                <input type="email" v-model="email" name="email" class="input" placeholder="Your e-mail address: ">
            </div>
            <div class="control">
                <button class="button is-success">Submit</button>
            </div>
        </div>
    </form>

    <article class="message is-primary" v-if="showSuccess">
        <div class="message-body">
            <p>The e-mail address was saved!</p>
        </div>
    </article>
</div>

<script>
    var newsletterapp = new Vue({
        el: '#newsletter-wrapper',
        data () {
            return{
                email: '',
                showSuccess: false
            }
        },
        methods: {
            onSubmit() {
                fetch('/api/add-subscriber/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({'email': this.email})
                    })
                    .then(function(response) {
                        return response.json()
                    })
                    .then((data) => {
                        console.log(this.email)
                            this.showSuccess = true
                        setTimeout(() => {
                            this.showSuccess = false
                        }, 3000)
                        this.email = ''
                        console.log(this.email)
                    })
                    .catch(function(error) {
                        showSuccess = false
                        console.log(error);
                    });
            }
        }
    })
</script>
